.tbl {
  width: 300px;
  border: 2px solid #000000;
  margin: 50px auto;
}

.total-true {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
}

.total-false {
  width: 30px;
  height: 30px;
  background-color: #000000;
}