.wrapper {
  width: 800px;
  margin: 50px auto;
}

.wrapper form {
  width: 500px;
  padding: 40px;
  border: 1px solid #000000;
  text-align: center;
}

form .qr-txt {
  width: 200px;
}

form .submit-btn {
  margin: 20px 0px;
  padding: 8px 20px;
}